@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 10px;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Kalam', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 8, 72);
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: rgb(244, 244, 237);
}


